/*

!/README.md
!/LICENSE
!/Makefile

!/.pre-commit-config.yaml

!/.editorconfig

!/.stylua.toml
!/.styluaignore

!/.gitignore

!/peru.yaml

!/init.lua

!/lua
/lua/*
!/lua/_vendor
!/lua/config.example.lua
